<%= turbo_frame_tag task do %>
  <div id="<%= dom_id task %>" class="flex rounded-md shadow-sm" >
    <div class="relative flex flex-grow items-stretch focus-within:z-10">
    <p class="my-5">
      <%= link_to task.body,
            edit_task_path(task),
            class: "block font-medium mb-1" %>
    </p>
    </div>


    <%= button_to "Delete",
          task_path(task),
          method: :delete,
          data: {
            turbo_method: "delete"
            },
          class: "relative -ml-px inline-flex items-center gap-x-1.5 rounded-r-md px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50" %>
  </div>
<% end %>
